#quiz-area button{
    -webkit-appearance: button;
    border:1px solid darkgray;
}

#a, #b, #c, #d{
    -webkit-appearance: radio;
    margin-right: 10px;
}

#quiz-area input[type=radio]{
    float: left;
}

#quiz-area label{
    margin-left: 30px;
    display: block;
}