pre{
    display: none;
}

#quiz-area{
    margin-left:5%;
    margin-right: 5%;
}

#quiz-area button{
    -webkit-appearance: button;
    border:1px solid darkgray;
    margin-right: 10px;
}

#a, #b, #c, #d{
    -webkit-appearance: radio;
    margin-right: 10px;
}

#quiz-area input[type=radio]{
    float: left;
}

#quiz-area label{
    margin-left: 30px;
    display: block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

#quiz-area input[type=number]{
    -moz-appearance: textfield;
}

.num-input *{
    font-size: 15px;
}